* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  background: radial-gradient(ellipse at bottom, rgb(0, 154, 0), rgb(0, 65, 0));
  overflow: hidden;
}


#root {
  width: 100svw;
  height: 100svh;
  position: relative;
  perspective: 550px;
}
